.mobmenu
	.mobmenu__flex.inner
		header.header 
				.inner 
					.header__row 
						.header__logo 
							<svg width="228" height="29" viewBox="0 0 228 29" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_121_3299)">
								<path d="M4.75755 0.00294638L0.00610352 4.75439L9.45483 14.2031L14.2063 9.45167L4.75755 0.00294638Z" fill="#070B13" class="_color"/>
								<path d="M28.4049 23.6498L18.9603 14.1997L14.1997 18.9494L9.45007 14.1997L0 23.6498L4.74966 28.3994L9.45007 23.7045L14.1997 28.4487L18.9603 23.7045L23.6553 28.3994L28.4049 23.6498Z" fill="#EFBD64"/>
								<path d="M23.6542 0.00293368L14.2054 9.45166L18.9569 14.2031L28.4056 4.75438L23.6542 0.00293368Z" fill="#070B13" class="_color"/>
								<path d="M214.129 21.6467H217.822V17.001H222.369C229.877 17.001 229.877 6.7958 222.369 6.80127H214.123V21.6522L214.129 21.6467ZM217.822 13.6303V10.172H222.025C223.3 10.172 224.208 10.8615 224.208 11.9011C224.208 12.9408 223.3 13.6303 222.025 13.6303H217.822Z" fill="#EFBD64"/>
								<path d="M179.628 21.6467L176.038 16.5468C181.368 14.2541 179.606 6.65902 173.554 6.80129H165.308V21.6522H169.001V17.0065H172.164L175.425 21.6522H179.617L179.628 21.6467ZM169.007 10.172H173.209C174.484 10.172 175.393 10.8615 175.393 11.9012C175.393 12.9408 174.484 13.6303 173.209 13.6303H169.007V10.172Z" fill="#EFBD64"/>
								<path d="M114.265 6.80127H110.572V21.6522H114.265V6.80127Z" fill="#070B13" class="_color"/>
								<path d="M104.367 6.80127V17.395L97.0341 6.80127H92.0109V21.6522H95.7044V11.5126L102.719 21.6522H108.06V6.80127H104.367Z" fill="#070B13" class="_color"/>
								<path d="M81.565 18.3416V6.80127H77.8933V21.6467H90.0684V18.3416H81.565Z" fill="#070B13" class="_color"/>
								<path d="M42.7743 21.6467H46.4679V13.0448L51.4255 20.7821L56.3776 13.0448V21.6467H60.0766V6.80127H56.3776L51.4255 14.5386L46.4679 6.80127H42.7743V21.6467Z" fill="#070B13" class="_color"/>
								<path d="M75.5075 10.1063V6.80127H62.4624V21.6467H75.5075V18.3416H66.156V15.726H71.8468V12.421H66.156V10.1063H75.5075Z" fill="#070B13" class="_color"/>
								<path d="M142.347 21.6468H146.041L141.127 6.7959H134.605L129.691 21.6468H133.833L134.555 19.2501H141.554L142.347 21.6468ZM135.551 15.945L137.308 10.1064H138.528L140.46 15.945H135.546H135.551Z" fill="#070B13" class="_color"/>
								<path d="M195.513 14.2268C195.513 12.0435 194.561 10.0845 193.062 8.72748C190.358 6.1885 185.817 6.1885 183.114 8.72748C179.874 11.5237 179.874 16.9354 183.114 19.7316C185.817 22.2706 190.358 22.2706 193.062 19.7316C194.561 18.3745 195.513 16.4156 195.513 14.2323V14.2268ZM190.654 17.5647C187.978 19.6878 183.83 17.6905 183.874 14.2268C183.841 11.7042 186.189 9.69602 188.629 10.0517C192.323 10.5004 193.631 15.3321 190.654 17.5702V17.5647Z" fill="#EFBD64"/>
								<path d="M163.453 13.6304H156.646L159.562 16.5469C157.286 20.0052 151.83 18.4129 151.814 14.2268C151.792 10.4785 156.443 8.60164 159.026 11.2446L161.291 8.9792C161.204 8.89165 161.116 8.79316 161.023 8.71108C158.315 6.16662 153.762 6.16662 151.053 8.71108C147.803 11.5401 147.803 16.9135 151.053 19.7425C153.762 22.287 158.315 22.287 161.023 19.7425C162.681 18.2213 163.666 15.9778 163.447 13.6304H163.453Z" fill="#EFBD64"/>
								<path d="M212.246 6.80127H209.04V14.2267C209.062 16.5578 207.092 18.4565 204.826 18.4401C202.561 18.4511 200.591 16.5578 200.613 14.2267V6.80127H197.406V14.2267C197.406 16.41 198.358 18.369 199.858 19.726C202.561 22.265 207.103 22.265 209.806 19.726C211.31 18.369 212.257 16.41 212.257 14.2267V6.80127H212.246Z" fill="#EFBD64"/>
								<path d="M126.725 17.209C124.23 19.7644 119.524 18.1174 119.508 14.2268C119.486 10.4785 124.131 8.60164 126.72 11.2446L128.985 8.9792C128.897 8.89165 128.81 8.79316 128.717 8.71108C126.008 6.16662 121.456 6.16662 118.747 8.71108C115.497 11.5401 115.497 16.9135 118.747 19.7425C121.456 22.287 126.008 22.287 128.717 19.7425C128.81 19.655 128.903 19.5674 128.99 19.4744L126.725 17.209Z" fill="#070B13" class="_color"/>
								</g>
								<defs>
								<clipPath id="clip0_121_3299">
								<rect width="228" height="28.4487" fill="white"/>
								</clipPath>
								</defs>
							</svg>
						buttom.header__close 
							<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1L16 16M1 16L16 1" stroke="white" stroke-width="2"/>
							</svg>

		ul.mobmenu__menu
				li 
					a.scroll-to(href="#about") О компании
				li 
					a.scroll-to(href="#brands") Наши бренды
				li 
					a.scroll-to(href="#formats") Форматы
				li 
					a.scroll-to(href="#steps") 7 шагов к открытию
				li 
					a.scroll-to(href="#why") Почему мы
		button.mobmenu__feedback.scroll-to(type="button",href="#feedback") Отправить заявку

		.mobmenu__footer 
			a(href="tel:89990000000") +7 (999) 000-00-00
			a(href="mailto:email@email.ru")  email@email.ru