extends ../../layout/layout
block title
	title Мельница 
block content

	.top
	
		.top__wrapper


			.top__text
				.top__line Франшиза-
				.top__line конструктор 
				.top__aline
					.top__aline-bg
						span с турбо-окупаемостью
				.top__line от 6 месяцев
				.fix-btn.scroll-to(href="#feedback")
					<svg width="172" height="178" viewBox="0 0 172 178" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M165.79 88.4485C165.79 132.079 130.42 167.448 86.7899 167.448C43.1595 167.448 7.78995 132.079 7.78995 88.4485C7.78995 44.818 43.1595 9.44849 86.7899 9.44849C130.42 9.44849 165.79 44.818 165.79 88.4485ZM40.5683 88.4485C40.5683 113.976 61.2625 134.67 86.7899 134.67C112.317 134.67 133.012 113.976 133.012 88.4485C133.012 62.921 112.317 42.2269 86.7899 42.2269C61.2625 42.2269 40.5683 62.921 40.5683 88.4485Z" fill="white" fill-opacity="0.5"/>
						<path d="M165.79 88.4485C165.79 132.079 130.42 167.448 86.7899 167.448C43.1595 167.448 7.78995 132.079 7.78995 88.4485C7.78995 44.818 43.1595 9.44849 86.7899 9.44849C130.42 9.44849 165.79 44.818 165.79 88.4485ZM40.5683 88.4485C40.5683 113.976 61.2625 134.67 86.7899 134.67C112.317 134.67 133.012 113.976 133.012 88.4485C133.012 62.921 112.317 42.2269 86.7899 42.2269C61.2625 42.2269 40.5683 62.921 40.5683 88.4485Z" fill="white"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M26.0969 109.918L20.8172 107.875L21.8401 105.22L27.1198 107.262L26.0969 109.918ZM24.0629 115.2L26.7171 116.227L28.7515 110.945L34.0303 112.988L35.054 110.332L32.4289 109.315L33.4509 106.66L30.7965 105.63L31.8081 103.004L29.1527 101.976L27.1187 107.259L29.7739 108.289L28.7518 110.944L26.0976 109.917L24.0629 115.2Z" fill="black"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M145.563 63.0819L150.776 65.2899L149.67 67.9121L144.457 65.7041L145.563 63.0819ZM147.763 57.8665L145.142 56.7565L142.942 61.9716L137.731 59.764L136.624 62.3864L139.215 63.485L138.11 66.1067L140.731 67.2197L139.637 69.8129L142.259 70.9234L144.458 65.7073L141.837 64.5946L142.942 61.9725L145.563 63.0825L147.763 57.8665Z" fill="black"/>
						<path d="M19.4158 89.0865L19.4858 87.1838L24.1301 87.3713L19.6269 83.3504L19.7124 81.028L24.5234 85.4396L29.794 81.1688L29.7054 83.5751L24.9694 87.4052L29.5576 87.5904L29.4876 89.4931L19.4158 89.0865Z" fill="black"/>
						<path d="M23.8594 73.0871L24.2312 71.2198L34.0963 77.5938L33.7518 79.3238L30.6414 77.4165L22.7002 78.9088L23.0857 76.9728L28.5148 76.0532L23.8594 73.0871Z" fill="black"/>
						<path d="M25.3343 68.0245L27.6897 61.7009L34.7583 64.382L34.0937 66.1662L28.6875 64.1157L27.6613 66.8708L33.0675 68.9213L32.4029 70.7055L25.3343 68.0245Z" fill="black"/>
						<path d="M39.5912 55.7396L38.6824 57.3165L34.6942 54.9845L36.9768 60.2762L36.2218 61.5862L29.6956 57.7701L30.6044 56.1932L34.4596 58.4476L32.317 53.2214L33.065 51.9236L39.5912 55.7396Z" fill="black"/>
						<path d="M38.1619 48.0345L36.5971 49.9559L35.3008 48.8873L39.6328 43.5681L40.9291 44.6368L39.3642 46.5582L43.9013 50.2985L42.6989 51.7748L38.1619 48.0345Z" fill="black"/>
						<path d="M43.9861 39.4337L45.587 41.2324L46.4928 40.4181C46.9855 39.975 47.3581 39.6777 47.6105 39.526C48.8254 38.8415 49.8874 39.01 50.7965 40.0314C51.2402 40.5299 51.4701 41.048 51.4863 41.5856C51.506 42.1202 51.3189 42.668 50.9251 43.2293C50.7568 43.4684 50.4211 43.8142 49.9179 44.2666L47.5964 46.354L42.5703 40.7067L43.9861 39.4337ZM49.0968 43.0281C49.2599 42.8815 49.3901 42.733 49.4875 42.5827C49.5995 42.4067 49.6457 42.1989 49.6261 41.9592C49.6068 41.7129 49.5181 41.5009 49.3598 41.3231C49.1892 41.1314 48.9847 41.014 48.7465 40.9709C48.5082 40.9278 48.2891 40.9554 48.0892 41.0536C47.9367 41.128 47.7824 41.2353 47.6262 41.3758L46.5643 42.3305L48.0349 43.9829L49.0968 43.0281Z" fill="black"/>
						<path d="M62.5409 36.0207C62.376 36.1397 62.1933 36.2493 61.9929 36.3494C61.4211 36.6353 60.8433 36.7519 60.2596 36.6994C59.6739 36.6426 59.1208 36.4104 58.6004 36.0027C58.08 35.5951 57.6371 35.0234 57.2717 34.2879C56.9062 33.5523 56.7179 32.8534 56.7068 32.1912C56.6957 31.529 56.8449 30.9483 57.1545 30.4492C57.462 29.9459 57.9017 29.5513 58.4736 29.2655C58.6739 29.1653 58.8711 29.085 59.0652 29.0245L58.0623 27.0059L59.565 26.2548L60.5679 28.2734C60.7328 28.1544 60.9155 28.0448 61.1159 27.9447C61.6877 27.6588 62.2665 27.5442 62.8523 27.601C63.436 27.6536 63.988 27.8837 64.5084 28.2914C65.0288 28.699 65.4717 29.2707 65.8371 30.0062C66.2026 30.7418 66.3908 31.4407 66.402 32.1029C66.4131 32.7651 66.2649 33.3479 65.9574 33.8512C65.6478 34.3503 65.2071 34.7428 64.6352 35.0286C64.4348 35.1288 64.2376 35.2091 64.0436 35.2696L65.3891 37.9778L63.8864 38.7289L62.5409 36.0207ZM59.8251 30.5542C59.6749 30.598 59.5372 30.6511 59.4119 30.7137C58.9152 30.962 58.6455 31.3212 58.6028 31.7912C58.5581 32.257 58.6904 32.8013 58.9998 33.424C59.3071 34.0426 59.6679 34.4752 60.0823 34.722C60.4988 34.9625 60.9533 34.9596 61.4459 34.7134C61.5461 34.6633 61.6598 34.5934 61.7872 34.5036L59.8251 30.5542ZM63.2899 33.7525C63.4464 33.7003 63.5747 33.6492 63.6749 33.5991C64.1633 33.355 64.4361 32.9969 64.4934 32.5248C64.5486 32.0485 64.4204 31.497 64.109 30.8701C63.7934 30.2348 63.4378 29.7969 63.0421 29.5565C62.6507 29.3139 62.2066 29.3168 61.7098 29.5651C61.5888 29.6256 61.4614 29.7049 61.3278 29.803L63.2899 33.7525Z" fill="black"/>
						<path d="M70.9609 24.4093C71.6418 24.2104 72.2898 24.1986 72.9048 24.3739C73.5243 24.5479 74.0601 24.8849 74.5122 25.3848C74.9688 25.8835 75.3043 26.5002 75.5186 27.2349C75.7291 27.9562 75.7781 28.6492 75.6658 29.314C75.558 29.9775 75.2977 30.5518 74.8851 31.037C74.4756 31.5163 73.9439 31.8515 73.2898 32.0425C72.6269 32.2361 72.0039 32.2503 71.421 32.0851L72.4384 35.5727L70.5974 36.1103L67.5391 25.6273L69.1517 25.1564L69.2694 25.5596C69.6669 25.0059 70.2307 24.6225 70.9609 24.4093ZM72.5198 30.5026C73.0842 30.3378 73.4503 30.0096 73.6181 29.5182C73.7845 29.0224 73.773 28.4496 73.5835 27.8C73.4619 27.3834 73.2878 27.0283 73.0612 26.7347C72.8346 26.4412 72.561 26.2366 72.2406 26.1212C71.9188 26.0013 71.5608 25.9989 71.1666 26.114C70.6156 26.2749 70.267 26.5881 70.1209 27.0538C69.9793 27.5181 70.0091 28.0952 70.2104 28.7851C70.639 30.2545 71.4088 30.827 72.5198 30.5026Z" fill="black"/>
						<path d="M84.463 23.4448C84.6286 23.6783 84.7438 23.9227 84.8087 24.1781C84.8776 24.4282 84.9378 24.7593 84.9893 25.1714L85.5624 29.7557L83.9089 29.9595L83.7943 29.0427C83.5106 29.482 83.1806 29.8142 82.8042 30.0393C82.4279 30.2643 81.9526 30.4123 81.3783 30.4831C80.8595 30.547 80.3978 30.5028 79.9931 30.3505C79.5925 30.193 79.2709 29.9529 79.0283 29.6301C78.7904 29.3068 78.6451 28.9345 78.5924 28.5131C78.5241 27.9667 78.5939 27.4902 78.8017 27.0837C79.0096 26.6773 79.392 26.3316 79.9489 26.0466C80.2581 25.8863 80.6413 25.7356 81.0987 25.5946C81.5555 25.4489 82.2158 25.257 83.0796 25.0189C82.9986 24.6715 82.8368 24.4305 82.5942 24.2958C82.3556 24.156 82.0164 24.1132 81.5764 24.1674C81.2568 24.2068 80.9627 24.3183 80.6941 24.5019C80.4254 24.6854 80.2575 24.9412 80.1904 25.2692L78.4136 24.9381C78.527 24.2659 78.829 23.7091 79.3194 23.2678C79.8097 22.8265 80.4903 22.5521 81.361 22.4448C82.8385 22.2627 83.8725 22.596 84.463 23.4448ZM83.2072 27.7327C83.297 27.4724 83.3135 27.0777 83.2567 26.5487C82.6176 26.7403 82.1492 26.8874 81.8516 26.9899C81.554 27.0924 81.306 27.1959 81.1074 27.3003C80.848 27.4451 80.6645 27.5947 80.5568 27.749C80.4532 27.8982 80.4132 28.0677 80.4369 28.2575C80.4688 28.5122 80.5866 28.7022 80.7904 28.8276C80.9982 28.9477 81.2666 28.9875 81.5954 28.947C81.915 28.9076 82.1883 28.8175 82.4152 28.6766C82.6416 28.5312 82.817 28.3732 82.9415 28.2027C83.0706 28.0316 83.1592 27.8749 83.2072 27.7327Z" fill="black"/>
						<path d="M88.6145 22.237L90.5171 22.3108L90.4155 25.193L93.5212 25.3134L93.6227 22.4312L95.5253 22.505L95.2592 30.0603L93.3566 29.9865L93.4586 27.0903L90.3529 26.9699L90.2509 29.8661L88.3484 29.7923L88.6145 22.237Z" fill="black"/>
						<path d="M99.7216 23.1632L101.499 23.5566L100.257 29.3041L102.116 29.7156L103.358 23.9682L105.135 24.3616L103.893 30.109L105.752 30.5206L106.993 24.7731L108.77 25.1666L107.174 32.5561L98.1254 30.5528L99.7216 23.1632Z" fill="black"/>
						<path d="M115.287 36.1138L113.608 35.4106L115.367 31.1386L110.457 34.0909L109.063 33.5067L111.941 26.5161L113.619 27.2192L111.919 31.3489L116.783 28.5444L118.165 29.1232L115.287 36.1138Z" fill="black"/>
						<path d="M124.372 37.0155C124.476 37.3173 124.509 37.6292 124.47 37.9513C124.438 38.2718 124.328 38.5832 124.143 38.8854C123.869 39.3307 123.514 39.6371 123.077 39.8047C122.644 39.9747 122.175 40.0153 121.671 39.9266C121.167 39.8379 120.671 39.6418 120.184 39.3382C119.582 38.9631 119.101 38.4931 118.742 37.9282C118.389 37.3618 118.201 36.7718 118.178 36.1582L119.977 36.0916C120.153 36.8833 120.529 37.4581 121.103 37.8159C121.42 38.0134 121.711 38.1012 121.976 38.0796C122.244 38.0539 122.45 37.9238 122.594 37.6892C122.743 37.4467 122.751 37.2321 122.62 37.0455C122.492 36.8614 122.263 36.6669 121.935 36.462L121.527 36.2163L121.147 35.9794L121.924 34.715L122.304 34.9519C122.569 35.1172 122.793 35.2398 122.974 35.3196C123.155 35.3994 123.319 35.4304 123.467 35.4126C123.621 35.3932 123.751 35.2981 123.856 35.1271C123.983 34.9204 124 34.7224 123.909 34.5332C123.817 34.344 123.652 34.1753 123.414 34.0272C123.149 33.8619 122.836 33.7468 122.476 33.6819C122.12 33.6195 121.755 33.5983 121.382 33.6184L121.172 31.9537C121.744 31.8701 122.308 31.8783 122.866 31.9782C123.423 32.0782 123.938 32.275 124.409 32.5687C124.833 32.8328 125.182 33.1519 125.456 33.5261C125.734 33.9027 125.893 34.3072 125.934 34.7397C125.975 35.1721 125.869 35.5951 125.615 36.0086C125.329 36.4738 124.914 36.8095 124.372 37.0155Z" fill="black"/>
						<path d="M134.353 40.507L135.795 41.7504L125.478 47.2737L124.142 46.1217L127.306 44.33L129.857 36.6306L131.352 37.9197L129.521 43.134L134.353 40.507Z" fill="black"/>
						<path d="M154.022 93.9786L153.79 95.8684L149.179 95.2817L153.323 99.6758L153.039 101.983L148.623 97.1726L143.008 100.974L143.301 98.5841L148.346 95.1757L143.791 94.5961L144.023 92.7063L154.022 93.9786Z" fill="black"/>
						<path d="M148.231 109.535L147.701 111.364L138.418 104.164L138.909 102.47L141.844 104.638L149.883 103.833L149.333 105.729L143.846 106.179L148.231 109.535Z" fill="black"/>
						<path d="M146.33 114.449L143.442 120.547L136.63 117.27L137.445 115.549L142.655 118.056L143.913 115.399L138.703 112.892L139.518 111.171L146.33 114.449Z" fill="black"/>
						<path d="M131.076 125.463L132.116 123.97L135.89 126.635L134.07 121.167L134.934 119.927L141.109 124.288L140.069 125.781L136.421 123.205L138.108 128.595L137.251 129.824L131.076 125.463Z" fill="black"/>
						<path d="M131.842 133.257L133.566 131.477L134.766 132.652L129.993 137.58L128.793 136.404L130.517 134.624L126.316 130.51L127.641 129.142L131.842 133.257Z" fill="black"/>
						<path d="M125.303 141.321L123.861 139.392L122.889 140.125C122.36 140.524 121.963 140.788 121.699 140.918C120.429 141.495 119.385 141.237 118.566 140.141C118.167 139.607 117.982 139.071 118.012 138.534C118.038 138 118.271 137.47 118.712 136.945C118.9 136.722 119.264 136.406 119.805 135.998L122.297 134.119L126.823 140.174L125.303 141.321ZM120.517 137.302C120.342 137.434 120.199 137.571 120.089 137.713C119.963 137.878 119.899 138.081 119.898 138.322C119.896 138.569 119.966 138.787 120.109 138.978C120.263 139.184 120.456 139.318 120.69 139.381C120.924 139.445 121.145 139.436 121.352 139.355C121.511 139.294 121.674 139.201 121.841 139.074L122.981 138.214L121.657 136.443L120.517 137.302Z" fill="black"/>
						<path d="M106.52 143.121C106.695 143.017 106.886 142.923 107.094 142.841C107.689 142.605 108.275 142.539 108.852 142.641C109.431 142.748 109.962 143.027 110.446 143.478C110.93 143.929 111.323 144.536 111.624 145.3C111.926 146.064 112.054 146.776 112.008 147.437C111.963 148.097 111.764 148.663 111.413 149.133C111.064 149.608 110.592 149.963 109.998 150.199C109.789 150.281 109.586 150.344 109.387 150.388L110.215 152.484L108.653 153.103L107.825 151.007C107.651 151.111 107.459 151.204 107.251 151.287C106.657 151.522 106.07 151.587 105.491 151.48C104.914 151.377 104.383 151.1 103.899 150.65C103.416 150.199 103.023 149.591 102.721 148.827C102.42 148.063 102.292 147.351 102.337 146.691C102.383 146.03 102.58 145.462 102.93 144.988C103.281 144.517 103.754 144.164 104.348 143.929C104.556 143.846 104.76 143.783 104.958 143.74L103.848 140.927L105.41 140.308L106.52 143.121ZM108.76 148.799C108.914 148.768 109.056 148.727 109.186 148.676C109.702 148.471 110.002 148.136 110.084 147.672C110.169 147.212 110.083 146.659 109.828 146.012C109.575 145.369 109.252 144.907 108.86 144.626C108.465 144.351 108.012 144.314 107.5 144.517C107.396 144.558 107.277 144.618 107.142 144.697L108.76 148.799ZM105.58 145.316C105.42 145.354 105.287 145.394 105.183 145.435C104.676 145.636 104.373 145.969 104.276 146.435C104.18 146.904 104.261 147.465 104.518 148.116C104.778 148.776 105.095 149.242 105.469 149.516C105.838 149.791 106.281 149.826 106.798 149.622C106.923 149.572 107.057 149.504 107.199 149.418L105.58 145.316Z" fill="black"/>
						<path d="M97.1393 153.958C96.4438 154.097 95.7971 154.053 95.1991 153.826C94.5965 153.599 94.0913 153.217 93.6833 152.68C93.2708 152.144 92.989 151.501 92.838 150.751C92.6898 150.014 92.7 149.32 92.8685 148.667C93.0325 148.016 93.3408 147.466 93.7934 147.018C94.2423 146.576 94.8008 146.288 95.4689 146.154C96.1461 146.018 96.7681 146.058 97.3349 146.273L96.6182 142.711L98.4988 142.334L100.653 153.04L99.006 153.37L98.9231 152.958C98.4798 153.475 97.8852 153.809 97.1393 153.958ZM96.1051 147.754C95.5285 147.87 95.1357 148.165 94.9267 148.64C94.7185 149.12 94.6812 149.691 94.8147 150.355C94.9003 150.78 95.0436 151.149 95.2444 151.461C95.4452 151.773 95.7004 152 96.01 152.143C96.3204 152.29 96.677 152.323 97.0797 152.242C97.6425 152.13 98.0165 151.848 98.2018 151.396C98.3825 150.946 98.402 150.369 98.2602 149.664C97.9582 148.163 97.2398 147.527 96.1051 147.754Z" fill="black"/>
						<path d="M83.6015 153.754C83.4564 153.507 83.3625 153.254 83.3196 152.994C83.2723 152.739 83.2405 152.404 83.2243 151.989L83.0438 147.372L84.7087 147.312L84.7448 148.235C85.0649 147.822 85.422 147.519 85.8162 147.327C86.2103 147.136 86.6965 147.029 87.2748 147.008C87.7971 146.989 88.2534 147.073 88.6437 147.26C89.0294 147.451 89.3294 147.718 89.5436 148.06C89.7532 148.403 89.8662 148.787 89.8828 149.211C89.9043 149.761 89.7942 150.23 89.5525 150.617C89.3108 151.004 88.9003 151.315 88.3211 151.551C87.9994 151.684 87.6046 151.801 87.1369 151.902C86.6693 152.008 85.9951 152.142 85.1141 152.305C85.1652 152.658 85.3059 152.912 85.5362 153.067C85.7619 153.227 86.0963 153.299 86.5394 153.283C86.8611 153.271 87.1637 153.186 87.447 153.026C87.7303 152.866 87.9194 152.626 88.0143 152.305L89.7565 152.788C89.5861 153.448 89.2378 153.976 88.7116 154.374C88.1854 154.771 87.4839 154.986 86.6072 155.018C85.1195 155.072 84.1176 154.651 83.6015 153.754ZM85.2181 149.591C85.1065 149.842 85.0565 150.234 85.0679 150.766C85.7211 150.63 86.2003 150.524 86.5056 150.447C86.8108 150.371 87.0668 150.289 87.2736 150.202C87.5444 150.08 87.74 149.947 87.8604 149.803C87.9764 149.663 88.0306 149.498 88.0232 149.307C88.0131 149.05 87.9119 148.851 87.7196 148.708C87.5227 148.571 87.2587 148.508 86.9276 148.52C86.6058 148.532 86.3259 148.598 86.0877 148.718C85.8498 148.844 85.6615 148.986 85.523 149.145C85.3797 149.305 85.2781 149.453 85.2181 149.591Z" fill="black"/>
						<path d="M79.361 154.599L77.4718 154.361L77.8188 151.498L74.735 151.111L74.3881 153.974L72.4989 153.737L73.4084 146.231L75.2975 146.469L74.9489 149.346L78.0327 149.733L78.3813 146.856L80.2704 147.094L79.361 154.599Z" fill="black"/>
						<path d="M68.3717 152.718L66.6352 152.174L68.363 146.553L66.5463 145.983L64.8184 151.604L63.0819 151.059L64.8097 145.439L62.993 144.869L61.2651 150.489L59.5286 149.944L61.7501 142.718L70.5933 145.492L68.3717 152.718Z" fill="black"/>
						<path d="M53.9691 138.476L55.5812 139.32L53.4631 143.426L58.6072 140.905L59.9465 141.607L56.4804 148.326L54.8683 147.481L56.9158 143.512L51.8299 145.89L50.503 145.194L53.9691 138.476Z" fill="black"/>
						<path d="M44.9908 136.797C44.9122 136.487 44.9061 136.174 44.9727 135.856C45.0327 135.54 45.1681 135.239 45.379 134.954C45.6898 134.534 46.0702 134.259 46.52 134.129C46.9661 133.997 47.4365 133.997 47.9312 134.128C48.426 134.26 48.903 134.498 49.3624 134.842C49.9301 135.267 50.3688 135.777 50.6785 136.37C50.9818 136.965 51.1185 137.569 51.0886 138.182L49.2903 138.094C49.1825 137.29 48.8579 136.685 48.3163 136.28C48.0175 136.056 47.735 135.943 47.4689 135.942C47.2 135.945 46.9836 136.057 46.8199 136.278C46.6506 136.507 46.6237 136.72 46.739 136.917C46.8506 137.112 47.0614 137.325 47.3714 137.557L47.7565 137.837L48.1151 138.106L47.2326 139.299L46.874 139.03C46.6238 138.843 46.4119 138.701 46.2384 138.606C46.0649 138.511 45.9037 138.466 45.7548 138.472C45.5995 138.478 45.4621 138.561 45.3428 138.723C45.1985 138.918 45.164 139.113 45.2393 139.31C45.3146 139.506 45.4643 139.688 45.6884 139.856C45.9387 140.044 46.2403 140.185 46.5934 140.281C46.9428 140.373 47.3046 140.426 47.6788 140.438L47.7448 142.114C47.168 142.148 46.6062 142.092 46.0593 141.944C45.5123 141.797 45.0167 141.557 44.5722 141.224C44.1726 140.925 43.8523 140.577 43.6114 140.181C43.3667 139.782 43.2425 139.365 43.2387 138.931C43.2349 138.496 43.3773 138.084 43.6659 137.694C43.9906 137.255 44.4322 136.956 44.9908 136.797Z" fill="black"/>
						<path d="M35.34 132.462L34.0096 131.1L44.7637 126.482L45.9963 127.744L42.69 129.257L39.4878 136.708L38.1085 135.296L40.3804 130.259L35.34 132.462Z" fill="black"/>
					</svg>
			.top__down.scroll-to(href="#start")
				<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="24" cy="24" r="23" stroke="white" stroke-width="2"/>
					<path d="M30 25.4615L24.5 31M24.5 31L19 25.4615M24.5 31V16" stroke="white" stroke-width="2"/>
				</svg>
	
	.inner 
		.start#start(data-aos="fade-up",data-aos-duration="1000")
			span._divider
			span Начните бизнес с чистой прибылью 
			span._white 200&nbsp;000&nbsp;-&nbsp;1&nbsp;000&nbsp;000&nbsp;₽
			span Старт бизнеса
			span._white 3 месяца
			span._divider
			span Окупаемость
			span._white  6-18&nbsp;месяцев
			span Паушальный взнос
			span._white  100&nbsp;000&nbsp;-&nbsp;300&nbsp;000&nbsp;₽
			span  Роялти
			span._white 3-5%
			span._divider
		.mg#about(data-aos="fade-up",data-aos-duration="1000")
			.mg__head
				img(src="img/logo-2.svg", alt="")
				| Группа компаний в сфере общественного питания
			.swiper.swiper-mg-mob
				.swiper-wrapper.mg__row 
					.mg-item.swiper-slide
						.mg-item__icon
							img(src="img/i-1.svg", alt="")
						.mg-item__title 12 лет на рынке
						.mg-item__desc 
							p 
								b Отточенные процессы 
								| и понимание, что&nbsp;на самом деле работает, а что нет.
					.mg-item.swiper-slide
						.mg-item__icon
							img(src="img/i-2.svg", alt="")
						.mg-item__title 16 точек 
							br
							| в Московской области
						.mg-item__desc 
							p И 
								b ни одного закрытого ресторана 
								| за все время работы сети!
					.mg-item.swiper-slide
						.mg-item__icon
							img(src="img/i-3.svg", alt="")
						.mg-item__title Широкий ассортимент
						.mg-item__desc 
							p Занимаем
								b самые популярные ниши в сфере питания 
								| to go:
							ul 
								li пицца на собственном тесте;
								li суши и роллы;
								li бургеры и шаурма;
								li пиво и разливные напитки.

					.mg-item.swiper-slide
						.mg-item__icon
							img(src="img/i-4.svg", alt="")
						.mg-item__title Любовь аудитории
						.mg-item__desc 
							p Знаем предпочтения нашей аудитории 
								b и предлагаем самый 
								| широкий выбор вкусов и начинок 
								| по каждому из направлений.
					.mg-item.swiper-slide
						.mg-item__icon
							img(src="img/i-5.svg", alt="")
						.mg-item__title Проверенные поставщики 
						.mg-item__desc 
							p 
								b Многолетние налаженные отношения с поставщиками и партнерами 
								|  позволяют держать приятный ценник, а 
								b свежие вкусы и качественные продукты 
								| мгновенно завоевывают лояльность аудитории.
					.mg-item.swiper-slide
						.mg-item__icon
							img(src="img/i-6.svg", alt="")
						.mg-item__title Поддержка  на всех этапах
						.mg-item__desc 
							p Удобный 
								b формат-конструктор и многолетняя экспертиза 
								| помогут вам быстро выйти на нужную аудиторию и открыть заведение, которое нужно людям. А это уже половина успеха. Вторая половина — наша поддержка и ваша работа.
					.mg-item._buy.swiper-slide.scroll-to(href="#feedback")
						.mg-item__icon
							img(src="img/i-7.svg", alt="")
						.mg-item__title Купить франшизу
				
		.partners(data-aos="fade-up",data-aos-duration="1000") 
			.partners__logo 
				img(src="img/icon-logo.svg", alt="")
				img(src="img/icon-logo.svg", alt="")
				img(src="img/icon-logo.svg", alt="")
			.partners__title Мы приглашаем партнеров, которые готовы вкладываться в&nbsp;работу и&nbsp;процветать вместе с нами
			a.scroll-to(href="#feedback").partners__btn Купить франшизу
		.brands#brands(data-aos="fade-up",data-aos-duration="1000")
			img(src="img/brands-bg.svg", alt="").brands__bg
			h2 Наши бренды
			.brand
				+picture('b-1','jpg').brand__bg
				.brand__row
					.brand__logo-wrap
						.brand__logo
							img(src="img/brand-1.svg", alt="")
					.brand__content
						ul 
							li более  
								b 300 видов пива
							li 
								b подбираем ассортимент под каждую точку, 
								| в зависимости от вкусов аудитории 
							li разливные 
								b лимонады
							li закуски и снеки

			.brand
				+picture('b-2','jpg').brand__bg
				.brand__row 
					.brand__logo-wrap
						.brand__logo
							img(src="img/brand-2.svg", alt="")
					.brand__content
						ul 
							li
								b 37 
								| видов пиццы
							li тонкое, толстое или черное
								b  тесто на выбор
							li тесто 
								b собственного производства
							li 
								b мясные, рыбные и вегетарианские
								| позиции
							li уникальная пицца 
								b «Биг Тейсти»

			.brand
				+picture('b-3','jpg').brand__bg
				.brand__row
					.brand__logo-wrap
						.brand__logo
							img(src="img/brand-3.svg", alt="",style="min-height:50px;")
					.brand__content
						ul 
							li всегда 
								b свежие роллы:
								| готовим только под заказ
							li
								b большие порции 
								| и много начинки
							li 
								b фитнес-линейка
								| низкокалорийных сашими без белого риса
							li
								b поке и салаты
							li 
								b десерты 
								| в японском стиле

			.brand
				+picture('b-4','jpg').brand__bg
				.brand__row 
					.brand__logo-wrap
						.brand__logo
							img(src="img/brand-4.svg", alt="")
					.brand__content
						ul 
							li
								b мясо с ножа: 
								| готовим только из свежего мяса на гриле
							li 
								b 7 видов авторских бургеров
							li (не)шаурма:
								b много мяса  и овощей
								| в лаваше
							li 
								b закуски:
								| крылья, картошка, сырные палочки, гренки
							li 
								b снеки 
								| к пиву
		.formats#formats(data-aos="fade-up",data-aos-duration="1000")
			.formats__head 
				h2 Форматы
				span Все наши форматы — с открытой кухней. Мы не скрываем из чего мы готовим и как мы это делаем.
			.formats__slider.swiper 
				.swiper-wrapper 
					.format.swiper-slide
						.format__title  Takeaway
						dl 
							dt Размер помещения:
							dd 50-100 м
								sup 2
							dt Инвестиции:
							dd 2  000  000 - 2  500  000 ₽
							dt Месячный доход:
							dd 200  000 - 1  000  000 ₽
					.format.swiper-slide
						.format__title Takeaway + доставка
						dl 
							dt Размер помещения:
							dd 50-100 м
								sup 2
							dt Инвестиции:
							dd 2  000  000 - 2  500  000 ₽
							dt Месячный доход:
							dd 200  000 - 1  000  000 ₽
					.format.swiper-slide._white
						.format__title Takeaway + доставка + кафе
						dl 
							dt Размер помещения:
							dd 50-100 м
								sup 2
							dt Инвестиции:
							dd 2  000  000 - 2  500  000 ₽
							dt Месячный доход:
							dd 200  000 - 1  000  000 ₽
			
		.steps#steps(data-aos="fade-up",data-aos-duration="1000")
			h2 7 шагов к новому уровню дохода
			.steps__row 
				img(src="img/steps.svg", alt="").steps__bg
				img(src="img/h-line-1.svg", alt="").steps__h-line-1
				img(src="img/hh-1.svg", alt="").steps__hh-1
				img(src="img/hh-2.svg", alt="").steps__hh-2
				.step._st-1
					.step__line
					.step__number 01
					.step__title Анализ рынка
						
					.step__desc 
						p Все начинается с анализа аудитории того района города, где вы хотите открыть точку.

				.step._st-2
					.step__line
					.step__number 02
					.step__title Выбор формата франшизы
						
					.step__desc 
						p Франшиза-конструктор дает возможность разработать проект точечно под запрос и открыть место, которого действительно не хватает.

				.step._st-3
					.step__line
					.step__number 03
					.step__title Заключение договора и оплата паушального взноса
						
					.step__desc 
						p Франшиза-конструктор дает возможность разработать проект точечно под запрос и открыть место, которого действительно не хватает.
				img(src="img/h-line-2.svg", alt="").steps__h-line-2
				.step._st-4
					.step__line
					.step__number 04
					.step__title Поиск и экспертиза помещения
						
					.step__desc 
						p Поиск и экспертиза помещения — один из ключевых процессов, влияющий на успешность бизнеса. Мы проводим экспертизу бесплатно.

				.step._st-5
					.step__line
					.step__number 05
					.step__title Строительные работы, дизайн, оборудование
						
					.step__desc 
						p Предоставляем подрядчиков на все этапы работы: от стройки и разработки дизайн-проекта помещения до подбора и закупки оборудования и мебели.
				img(src="img/h-line-3.svg", alt="").steps__h-line-3
				.step._st-6
					.step__line
					.step__number 06
					.step__title Набор и обучение персонала
						
					.step__desc 
						p Опен-команда опытных управляющих проведет аудит и поможет с поиском и адаптацией сотрудников. Средний срок обучения новичка – 2 недели.
				.step._st-7
					.step__line
					.step__number 07
					.step__title Открытие
						
					.step__desc 
						p Для каждого формата заведения у нас разработана стратегия маркетинговых мероприятий, направленных на создание лояльности аудитории с первых дней работы. Это праздничное оформление входной зоны, специальные скидки, акции и подарки, а также ведущий с программой и диджей-сетом.
		.steps-form(data-aos="fade-up",data-aos-duration="1000")
			.steps-form__row 
				.steps-form__left
					form.steps-form__form#stepform(action="/",method='POST')
						h2 Итак, давайте посчитаем
						.steps-form__steps
							button(type='button',data-slide=0)._active.steps-form__step Шаг 1
							button(type='button',data-slide=1,disabled).steps-form__step Шаг 2
							button(type='button',data-slide=2,disabled).steps-form__step Шаг 3
							button(type='button',data-slide=3,disabled).steps-form__step Шаг 4
							button(type='button',data-slide=4,disabled).steps-form__step Шаг 5
							button(type='button',data-slide=5,disabled).steps-form__step Шаг 6
							button(type='button',data-slide=6,disabled).steps-form__step Шаг 7
						
						.swiper.steps-form__slider
							.swiper-wrapper 
								.swiper-slide
									.steps-form__content 
										h3 Что хотите продавать?
										p можно выбрать один или несколько вариантов ответа
										.steps-form__checkboxs
											label.steps-form__checkbox
												input.st-inpt-1(type="checkbox",name="product[]",value="Пиццу")
												span.steps-form__indicator 
												span.steps-form__text Пиццу
											label.steps-form__checkbox
												input.st-inpt-1(type="checkbox",name="product[]",value="Суши и роллы")
												span.steps-form__indicator 
												span.steps-form__text Суши и роллы
											label.steps-form__checkbox
												input.st-inpt-1(type="checkbox",name="product[]",value="Бургеры")
												span.steps-form__indicator 
												span.steps-form__text Бургеры
											label.steps-form__checkbox
												input.st-inpt-1(type="checkbox",name="product[]",value="Шаверму")
												span.steps-form__indicator 
												span.steps-form__text Шаверму
											label.steps-form__checkbox
												input.st-inpt-1(type="checkbox",name="product[]",value="Пиво")
												span.steps-form__indicator 
												span.steps-form__text Пиво
											label.steps-form__checkbox
												input.st-inpt-1(type="checkbox",name="product[]",value="Все вместе")
												span.steps-form__indicator 
												span.steps-form__text Все вместе
									.steps-form__footer 
										button(type='button' disabled).steps-form__btn-1 Далее
											<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.8409 8.99999L12.5 1.65906M19.8409 8.99999L12.5 16.3409M19.8409 8.99999H0" stroke-width="2"/>
											</svg>
						
								.swiper-slide
									.steps-form__content 
										h3 В каком формате
										.steps-form__checkboxs
											label.steps-form__checkbox
												input.st-inpt-2(type="checkbox",name="format[]",value="Takeaway")
												span.steps-form__indicator 
												span.steps-form__text Takeaway 
											label.steps-form__checkbox
												input.st-inpt-2(type="checkbox",name="format[]",value="Takeaway + доставка")
												span.steps-form__indicator 
												span.steps-form__text Takeaway + доставка
											label.steps-form__checkbox
												input.st-inpt-2(type="checkbox",name="format[]",value="Takeaway + кафе + доставка")
												span.steps-form__indicator 
												span.steps-form__text Takeaway + кафе + доставка
											label.steps-form__checkbox
												input.st-inpt-2(type="checkbox",name="format[]",value="Еще не определился")
												span.steps-form__indicator 
												span.steps-form__text Еще не определился
										
									.steps-form__footer 
										button(type='button' disabled).steps-form__btn-2 Далее
											<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.8409 8.99999L12.5 1.65906M19.8409 8.99999L12.5 16.3409M19.8409 8.99999H0" stroke-width="2"/>
											</svg>
						
								.swiper-slide
									.steps-form__content 
										h3  Выбор района города 
										p Экспертиза помещения – бесплатно!
									
									.steps-form__footer 
										button(type='button'  ).steps-form__btn-3 Далее
											<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.8409 8.99999L12.5 1.65906M19.8409 8.99999L12.5 16.3409M19.8409 8.99999H0" stroke-width="2"/>
											</svg>
								.swiper-slide
									.steps-form__content 
										h3 Дополнительно
										.steps-form__checkboxs-one
											label.steps-form__checkbox
												input.st-inpt-4(type="checkbox",name="dop[]",value="Мне нужна помощь со строительными работами")
												span.steps-form__indicator 
												span.steps-form__text Мне нужна помощь со строительными работами 
											label.steps-form__checkbox
												input.st-inpt-4(type="checkbox",name="dop[]",value="Мне нужен дизайн-проект помещения")
												span.steps-form__indicator 
												span.steps-form__text Мне нужен дизайн-проект помещения
											label.steps-form__checkbox
												input.st-inpt-4(type="checkbox",name="dop[]",value="Мне нужна помощь с закупкой оборудования")
												span.steps-form__indicator 
												span.steps-form__text Мне нужна помощь с закупкой оборудования
									.steps-form__footer 
										button(type='button'  disabled).steps-form__btn-4 Далее
											<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.8409 8.99999L12.5 1.65906M19.8409 8.99999L12.5 16.3409M19.8409 8.99999H0" stroke-width="2"/>
											</svg>
						
								.swiper-slide
									.steps-form__content 
										h3 Праздничное открытие
										.steps-form__checkboxs-one
											label.steps-form__checkbox
												input.st-inpt-5(type="checkbox",name="opens[]",value="Праздничное оформление")
												span.steps-form__indicator 
												span.steps-form__text Праздничное оформление
											label.steps-form__checkbox
												input.st-inpt-5(type="checkbox",name="opens[]",value="Ведущий и диджей сет")
												span.steps-form__indicator 
												span.steps-form__text Ведущий и диджей сет
											label.steps-form__checkbox
												input.st-inpt-5(type="checkbox",name="opens[]",value="Маркетинговое сопровождение (скидки, подарки, акции)")
												span.steps-form__indicator 
												span.steps-form__text Маркетинговое сопровождение (скидки, подарки, акции)
									.steps-form__footer 
										button(type='button' disabled).steps-form__btn-5 Далее
											<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.8409 8.99999L12.5 1.65906M19.8409 8.99999L12.5 16.3409M19.8409 8.99999H0" stroke-width="2"/>
											</svg>
						
								.swiper-slide
									.steps-form__content 
										h3 Мы активно развиваем группы в популярных социальных сетях, а также вкладываемся в продвижение наших сайтов. 
											color Маркетинговая поддержка франшиз на этапе запуска — бесплатно.
									.steps-form__footer 
										button(type='button' ).steps-form__btn-6 Далее
											<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.8409 8.99999L12.5 1.65906M19.8409 8.99999L12.5 16.3409M19.8409 8.99999H0" stroke-width="2"/>
											</svg>
								.swiper-slide
									.steps-form__content 
										h3 Рассчитать стоимость франшизы
										label.steps-form__input
											input(type="text", data-rule-required, name="name",placeholder="Иван Иванов")
										label.steps-form__input
											input(type="text", data-rule-required, name="phone",placeholder="+7 (123) 456-78-90")._mask-phone
										label.steps-form__input
											input(type="text", data-rule-required,  data-rule-email,name="mail",placeholder="ivan@ivan.ru")
										label.steps-form__checkbox.mt-20
												input(type="checkbox", data-rule-required, name="agreement")
												.steps-form__indicator 
												.steps-form__text Я соглашаюсь с 
													a(href="#") условиями обработки персональной информации
									.steps-form__footer 
										button(type='submit' ).steps-form__btn-7 Рассчитать стоимость франшизы 
											<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.8409 8.99999L12.5 1.65906M19.8409 8.99999L12.5 16.3409M19.8409 8.99999H0" stroke-width="2"/>
											</svg>
								.swiper-slide
									h3
										color Ваша заявка успешно отправлена!
									p Скоро мы свяжемся с вами для уточнения деталей.
								.swiper-slide
									h3
										color  Увы, при отправке возникла ошибка, пожалуйста, обновите форму или перезагрузите страницу.
								
				.steps-form__right 
					.steps-form__photos.swiper 
						.swiper-wrapper 
							.swiper-slide 
								+picture('f-1','jpg')
				
							.swiper-slide 
								+picture('f-2','jpg')
				
							.swiper-slide 
								+picture('f-3','jpg')
				
							.swiper-slide 
								+picture('f-4','jpg')
				
							.swiper-slide 
								+picture('f-5','jpg')
				
							.swiper-slide 
								+picture('f-6','jpg')
				
							.swiper-slide 
								+picture('f-7','jpg')
						.steps-form__photos-pagy
		.why#why(data-aos="fade-up",data-aos-duration="1000")
			.why__head 
				h2 Почему стоит выбрать франшизу 
					color Мельница group
				.why__nav 
					.why__prev
						<svg width="31" height="21" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10.0358 20.1928L10.7429 20.8999L12.1571 19.4857L11.45 18.7786L10.0358 20.1928ZM2 10.7429L1.29289 10.0358L0.585786 10.7429L1.29289 11.45L2 10.7429ZM11.45 2.70711L12.1571 2L10.7429 0.585786L10.0358 1.29289L11.45 2.70711ZM11.45 18.7786L2.70711 10.0358L1.29289 11.45L10.0358 20.1928L11.45 18.7786ZM2.70711 11.45L11.45 2.70711L10.0358 1.29289L1.29289 10.0358L2.70711 11.45ZM2 11.7429H30.4143V9.74287H2V11.7429Z" />
						</svg>
					.why__next
						<svg width="31" height="21" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20.764 20.1928L20.0569 20.8999L18.6427 19.4857L19.3498 18.7786L20.764 20.1928ZM28.7998 10.7429L29.5069 10.0358L30.214 10.7429L29.5069 11.45L28.7998 10.7429ZM19.3498 2.70711L18.6427 2L20.0569 0.585786L20.764 1.29289L19.3498 2.70711ZM19.3498 18.7786L28.0927 10.0358L29.5069 11.45L20.764 20.1928L19.3498 18.7786ZM28.0927 11.45L19.3498 2.70711L20.764 1.29289L29.5069 10.0358L28.0927 11.45ZM28.7998 11.7429H0.385485V9.74287H28.7998V11.7429Z"/>
						</svg>
			.why__slider.swiper 
				.swiper-wrapper 
					.swiper-slide 
						h3 Это надежно
						p За 12 лет на рынке мы откатали бизнес-модель так, что с уверенностью можем сказать: это работает.
					.swiper-slide 
						h3 Это быстро
						p Открытие новой точки в среднем занимает 3 месяца.
					.swiper-slide 
						h3 Низкий порог входа
						p Инвестиции в проект начинаются от&nbsp;2 000 000 — ниже среднего по франшизам в сегменте общественного питания.
					.swiper-slide 
						h3 Прозрачные условия
						p Мы работаем открыто как на кухне, так и в офисе. Четко прописываем все условия в договоре и выполняем их.
					.swiper-slide 
						h3 Поддержка на&nbsp;каждом этапе
						p Мы поможем на запуске и после открытия: свяжем с нужными подрядчиками и проконсультируем по всем вопросам.
					.swiper-slide 
						h3 Стандарты качества
						p Помощь опытной команды и шеф-повара на старте, разработанные и описанные процессы и техническая карта блюд с фотографиями помогут быстро интегрировать новых сотрудников
					.swiper-slide 
						h3 Отличный продукт
						p Мы делаем понятную и вкусную еду  из свежих продуктов, которая нужна всем и всегда.
	.feedback#feedback(data-aos="fade-up",data-aos-duration="1000")
		.inner 
			.feedback__row 
				.feedback__left 
					.h2 Мы поддерживаем контроль качества
					ul
						li Ежемесячный аудит работы кухни и продаж
						li Рекомендации по проверенным поставщикам
						li Консультации на весь период работы
				.feedback__right 
					.feedback__form-wrap
						.feedback__form-thanks(style="display:none;")
							.feedback__title Ваша заявка успешно отправлена! 
							p Скоро мы свяжемся с вами для уточнения деталей.
							button.feedback__reset(type="button") Обновить форму
						.feedback__form-error(style="display:none;")
							.feedback__title Увы, при отправке возникла ошибка, пожалуйста, обновите форму или перезагрузите страницу.
							button.feedback__reset(type="button") Обновить форму
						.feedback__form-form
							.feedback__title Остались вопросы? Давайте все обсудим!
							p Оставьте заявку, и мы свяжемся с вами для уточнения деталей.
							form#feedbackform(action='/',method="POST")
								label.feedback__input
									input(type="text", data-rule-required,placeholder='Имя',name="name")
								label.feedback__input
									input(type="text", data-rule-required,placeholder='Телефон',name='phone')._mask-phone
								label.feedback__input
									input(type="text", data-rule-required,  data-rule-email,placeholder='Email',name="mail")
								p.feedback__agreement Нажимая на кнопку «отправить заявку» я соглашаюсь с  
									a(href="#") Политикой конфиденциальности  
									| и даю согласие на обработку  
									a(href="#") персональных данных
								button.feedback__sbmt(type="submit") Отправить заявку

					
